body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: sans-serif;
}
.btn{
    background-color: black;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    text-decoration: none;
    position: relative;
    color: orange;
    overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: gold;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
}
.btn span{
    position: relative;
    z-index: 1;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}